:root {
  --main-bg-color: #ffffff;
  --text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --button-bg-color: #f5f4fa;
  --background-fill-color: #2f303a;
  --shadow-color: #eeeeee;
  --icon-color: #afb1b8;
  --accent-secondary-color: #188ce8;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  max-width: 1200px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  font-size: 14px;
  letter-spacing: normal;
  line-height: normal;
}

/*HEADER*/

.header {
  border: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
  height: 80px;
  flex-direction: row;
}

.header .container .nav-menu {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header .container .nav-menu ul {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.header .container .nav-menu li a {
  position: relative;
  padding-bottom: 32px;
}

.header .container .nav-menu li a.active {
  color: var(--accent-color);
}

.header .container .nav-menu li a::after {
  display: block;
  content: "";
  width: 100%;
  background-color: var(--accent-color);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 0;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
}

.header .container .nav-menu li a:hover::after,
.header .container .nav-menu li a:focus::after,
.header .container .nav-menu li a.active::after {
  width: 100%;
}

.header .container .company-info-container {
  display: flex;
  gap: 40px;
  flex-direction: row;
  margin-left: auto;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  display: inline;
  margin-right: 93px;
  padding: 0;
}

.logo-color {
  color: var(--accent-color);
}

.logo-secondary-color {
  color: #ffffff;
}

.text14-medium {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: normal;
}

.company-info {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
}

.header-icon {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}

/*MAIN*/

.text18-bold {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
}

.project-category {
  font-size: 16px;
  color: var(--secondary-text-color);
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.text14-bold {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.company-description-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section1 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.section1 .container .h1-index {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.3;
  color: #ffffff;
  text-align: center;
}

.regular-clients {
  padding: 94px 0;
  margin: 0;
  text-align: center;
}

.regular-clients .regular-client-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: 50px;
}

.regular-clients .regular-client-list a {
  border-radius: 4px;
  border: 1px var(--icon-color) solid;
  display: inline-block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients .regular-client-list .client a {
  padding: 16px 32px;
}

.regular-clients .regular-client-list .client-logo {
  width: 100%;
  height: 100%;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients .regular-client-list a:hover {
  border-color: var(--accent-color);
}

.regular-clients .regular-client-list a:hover .client-logo {
  fill: var(--accent-color);
}

.h2-index {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

.img-work .container {
  box-sizing: border-box;
  padding: 0px 15px;
  padding-bottom: 95px;
}

.img-work .container .img-work-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
}

.img-work .container .img-work-list .list-img-work {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.img-work .container .img-work-list .list-img-work img {
  display: block;
}

.img-work .container .img-work-list .text-img-work {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #2f303acc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  word-wrap: break-word;
}

.img-work .container .img-work-list li {
  position: relative;
}

.section2 .container .team-member-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
}

.section2 .container .team-member-list .team-member {
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}

.portfolio-team-member {
  margin-bottom: 30px;
}

.team-member-name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-member-job-title {
  font-size: 16px;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.member-info .team-members-social-links {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.member-info .team-members-social-links li {
  width: 44px;
  height: 44px;
}

.member-info .team-members-social-links .social-links-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--icon-color);
  fill: currentColor;
  width: 100%;
  height: 100%;
}

.member-info .team-members-social-links .social-links-icons:hover {
  color: #ffffff;
}

.team-members-social-links a:hover,
.team-members-social-links a:focus {
  background-color: var(--accent-color);
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-type-business {
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  line-height: calc(26 / 16);
  font-size: 16px;
  font-weight: 500;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  background-color: var(--button-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-type-business:hover,
.btn-type-business:focus {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--accent-color);
  color: #ffffff;
}

.btn-order-service {
  font-weight: 700;
  color: #ffffff;
  background-color: var(--accent-color);
  font-size: 16px;
  letter-spacing: 0.06em;
  padding: 10px 24px;
  border-radius: 4px;
  line-height: 1.875;
}

a {
  text-decoration: none;
  color: var(--text-color);
  letter-spacing: 0.02em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus,
a:active {
  color: var(--accent-color);
}

button:hover,
button:focus,
button:active {
  background-color: var(--accent-color);
  color: #ffffff;
}

.company-description .container {
  padding: 95px 15px;
}

.company-description .container .company-description-list {
  gap: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 1;
}

.company-description-list .company-description-item {
  max-width: 270px;
}

.company-description-list .company-description-text {
  margin-top: 10px;
}

.section1 {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/business.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
}

.section2 {
  background-color: var(--button-bg-color);
  margin: 0;
  box-sizing: border-box;
  padding: 95px 0;
}

.portfolio {
  box-sizing: border-box;
  padding: 94px 0;
}

.portfolio .container .btn-business-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
  list-style: none;
}

.project-list .project-elements {
  border: 1px solid #eee;
  background: #ffffff;
  max-width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list .project-elements .overlay {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list .project-elements .img-project {
  width: 100%;
}

.project-elements-container {
  position: relative;
  overflow: hidden;
}

.text-project-list {
  position: absolute;
  bottom: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  opacity: 0;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 20px;
  transform: translateY(101%);
}

.text-project-info {
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.5;
  color: #ffffff;
  padding: 63px 24px;
}

.project-elements:hover .text-project-list {
  opacity: 1;
  transform: translateY(0%); /* Початкове положення під елементом */
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-elements:hover,
.project-elements:focus {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.project-list .project-elements .project-info {
  padding: 20px 23px;
  z-index: 1;
}

.company-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--button-bg-color);
  border-radius: 4px;
}

/*FOOTER*/

.footer {
  background-color: var(--background-fill-color);
  padding: 60px 60px;
}

.footer address {
  margin-top: 28px;
}

.company-address {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 12px;
}

.footer .container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: row;
  gap: 94px;
  padding: 0 15px;
}

.footer .container .company-info-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.company-info-footer {
  color: var(--main-bg-color);
  opacity: 0.6;
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-social-links {
  display: flex;
  flex-direction: column;
}

.footer-social-links .footer-text-join {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer-social-links .footer-social-list {
  display: flex;
  gap: 10px;
}

.footer-social-links .footer-social-list a:hover,
.footer-social-links .footer-social-list a:focus {
  background-color: var(--accent-color);
  outline: none;
}

.footer-social-links .footer-social-list .footer-social-list-icons {
  display: flex;

  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  color: #ffffff;
  fill: currentColor;
}

/*MODAL*/

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-backdrop {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  background-color: #fefefe;
  padding: 8px;
  border: 1px solid #888;
  border-radius: 4px;
  width: 80%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 2;
  width: 528px;
  height: 581px;
  justify-content: center;
  border: 1px solid #ffffff;
}

.btn-close-modal {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--icon-color);
}

.btn-close-modal:hover,
.btn-close-modal:focus {
  background-color: rgba(0, 0, 0, 0);
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-title {
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  margin: 12px 40px 0 40px;
}

.input-container {
  margin-bottom: 10px;
}

.input-container .input-title {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
}

.input-container .input-field {
  border: none;
  outline: none;
  padding: 0;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgba(calc(21 / 255), calc(21 / 255), calc(21 / 255), 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.input-wrapper:hover,
.input-wrapper:focus,
.input-wrapper:active {
  border-color: var(--accent-color);
  color: var(--accent-color);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgba(calc(21 / 255), calc(21 / 255), calc(21 / 255), 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
}

.textarea-wrapper:hover,
.textarea-wrapper:focus,
.textarea-wrapper:active {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-wrapper .textarea-field {
  resize: none;
  border: none;
  outline: none;
  padding: 0;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.input-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin: 0 12px;
}

.modal .checkbox-wrapper {
  display: flex;
  margin: 0 13px;
  margin-top: 20px;
}

.checkbox-wrapper .checkbox {
  margin-right: 4px;
  height: 16px;
  width: 16px;
  border: 1px solid #007bff;
}

.checkbox-title {
  color: #757575;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.checkbox-title .btn-open-contract {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-footer .btn-modal-submit {
  height: 50px;
  width: 200px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: white;
}

.modal-footer .btn-modal-submit:hover,
.modal-footer .btn-modal-submit:focus {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--accent-color);
}

.modal-footer .btn-modal-submit:hover,
.modal-footer .btn-modal-submit:focus {
  background-color: var(--accent-secondary-color);
}

.btn-modal-submit-text {
  line-height: 1.8;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
}

.input-button-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-newsletter-signup .footer-newsletter-text {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-newsletter-signup .email-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
  color: white;
}

.footer-newsletter-signup .btn-submit-newsletter {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 28px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.8;
  font-weight: 700;
}

.footer-newsletter-signup .btn-submit-newsletter:hover,
.footer-newsletter-signup .btn-submit-newsletter:focus {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--accent-color);
}

.footer-newsletter-signup .icon-send {
  width: 24px;
  height: 24px;
}
