:root {
  --main-bg-color: #ffffff;
  --text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --button-bg-color: #f5f4fa;
  --background-fill-color: #2f303a;
  --shadow-color: #eeeeee;
  --icon: #afb1b8;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  font-size: 14px;
  letter-spacing: normal;
  line-height: normal;
}

/*HEADER*/

.header {
  border: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
  height: 80px;
  flex-direction: row;
}

.header .container .nav-menu {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header .container .nav-menu ul {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.header .container .company-info-container {
  display: flex;
  gap: 40px;
  flex-direction: row;
  margin-left: auto;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  display: inline;
  margin-right: 93px;
  padding: 0;
}

.logo-color {
  color: var(--accent-color);
}

.logo-secondary-color {
  color: #ffffff;
}

.text14-medium {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: normal;
}

.company-info {
  color: var(--secondary-text-color);
}

/*MAIN*/

.text18-bold {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
}

.project-category {
  font-size: 16px;
  color: var(--secondary-text-color);
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.text14-bold {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.company-description-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section1 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.section1 .container .h1-index {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.3;
  color: #ffffff;
  text-align: center;
}

.h2-index {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

.img-work .container {
  box-sizing: border-box;
  padding: 0px 15px;
  padding-bottom: 95px;
}

.img-work .container .img-work-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
}

.section2 .container .team-member-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
}

.section2 .container .team-member-list .team-member {
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}

.portfolio-team-member {
  margin-bottom: 30px;
}

.team-member-name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-member-job-title {
  font-size: 16px;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
}

.btn-type-business {
  display: flex;
  letter-spacing: 0.03em;
  line-height: calc(26 / 16);
  font-size: 16px;
  font-weight: 500;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  background-color: var(--button-bg-color);
}

.btn-order-service {
  font-weight: 700;
  color: #ffffff;
  background-color: var(--accent-color);
  font-size: 16px;
  letter-spacing: 0.06em;
  padding: 10px 24px;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: var(--text-color);
  letter-spacing: 0.02em;
}

a:hover,
a:focus,
a:active {
  color: var(--accent-color);
}

button:hover,
button:focus,
button:active {
  background-color: var(--accent-color);
  color: #ffffff;
}

.company-description .container {
  padding: 95px 15px;
}

.company-description .container .company-description-list {
  gap: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 1;
}

.company-description-list .company-description-item {
  max-width: 270px;
}

.company-description-list .company-description-text {
  margin-top: 10px;
}

.section1 {
  background-color: var(--background-fill-color);
  height: 600px;
  display: flex;
}

.section2 {
  background-color: var(--button-bg-color);
  margin: 0;
  height: 648px;
  box-sizing: border-box;
  padding-top: 95px;
}

.portfolio {
  box-sizing: border-box;
  padding: 94px 0;
}

.portfolio .container .btn-business-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}

.project-list {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
  list-style: none;
}

.project-list .project-elements {
  border: 1px solid #eee;
  background: var(--white);
  max-width: 370px;
}

.project-list .project-elements .project-info {
  padding: 20px 23px;
}

/*FOOTER*/

.footer {
  background-color: var(--background-fill-color);
  padding: 60px 60px;
  display: flex;
}

.company-address {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 12px;
}

.footer .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 5px;
  gap: 28px;
  padding: 0 15px;
}

.footer .container .company-info-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.company-info-footer {
  color: var(--main-bg-color);
  opacity: 0.6;
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-style: normal;
}
