$main_bg_color: #ffffff;
$text_color: #212121;
$secondary_text_color: #757575;
$accent_color: #2196f3;
$button_bg_color: #f5f4fa;
$background_fill_color: #2f303a;
$shadow_color: #eeeeee;
$icon_color: #afb1b8;
$accent_secondary_color: #188ce8;
$dominant_font: "Roboto", sans-serif;
$raleway_font: "Raleway", sans-serif;