@use "../../utils/variables";

main {
  .section1 {
    background-image: linear-gradient(
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
    ),
    url("/images/business.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;

      .h1-index {
        font-size: 44px;
        font-weight: 900;
        letter-spacing: 0.06em;
        line-height: 1.3;
        color: #ffffff;
        text-align: center;

        @media screen and (max-width: 768px) {
          font-size: 26px;
          line-height: calc(42 / 26);
        }

        @media screen and (max-width: 479px) {
          font-size: 26px;
          line-height: calc(42 / 26);
        }
      }

      .btn-order-service {
        font-weight: 700;
        color: #ffffff;
        background-color: variables.$accent-color;
        font-size: 16px;
        letter-spacing: 0.06em;
        padding: 10px 24px;
        border-radius: 4px;
        line-height: 1.875;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
          background-color: #2175f3;
        }
      }
    }
  }

  .company-description {
    .container {
      padding: 95px 15px;

      .company-description-list {
        gap: 30px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex: 1;

        @media screen and (max-width: 768px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 479px) {
          display: flex;
          flex-direction: column;
        }

        .company-description-item {
          max-width: 270px;

          @media screen and (max-width: 768px) {
            max-width: 100%;
          }

          @media screen and (max-width: 479px) {
            max-width: 100%;
          }

          .company-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px 100px;
            margin-bottom: 30px;
            background-color: variables.$button-bg-color;
            border-radius: 4px;
          }

          .text14-bold {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.03em;

            @media screen and (max-width: 479px) {
              text-align: center;
            }
          }

          .company-description-text {
            font-size: 14px;
            line-height: 1.7;
            letter-spacing: 0.03em;
            color: variables.$secondary-text-color;
            margin-top: 10px;
          }


        }
      }
    }
  }

  .img-work {
    .container {
      box-sizing: border-box;
      padding: 0 15px;
      padding-bottom: 95px;

      .h2-index {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-align: center;

        @media screen and (max-width: 768px) {
          font-size: 28px;
        }

        @media screen and (max-width: 479px) {
          font-size: 28px;
        }
      }

      .img-work-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 30px;
        margin-top: 50px;

        @media screen and (max-width: 479px) {
          display: flex;
          flex-direction: column;
        }


        .list-img-work {
          position: relative;
          overflow: hidden;
          margin: 0;

          img {
            display: block;
          }

          .text-img-work {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70px;
            background: #2f303acc;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.03em;
            word-wrap: break-word;
          }
        }
      }
    }
  }

  .section2 {
    background-color: variables.$button-bg-color;
    margin: 0;
    box-sizing: border-box;
    padding: 95px 0;

    @media screen and (max-width: 479px) {
      padding: 60px 0;;
    }

    .container {
      .h2-index {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-align: center;

        @media screen and (max-width: 768px) {
          font-size: 28px;
        }

        @media screen and (max-width: 479px) {
          font-size: 28px;
        }
      }

      .team-member-list {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 30px;
        margin-top: 50px;

        @media screen and (max-width: 768px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 479px) {
          display: flex;
          flex-direction: column;
        }

        .team-member {
          border-radius: 0 0 4px 4px;
          background: #ffffff;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12),
          0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
          padding-bottom: 30px;

          .portfolio-team-member {
            margin-bottom: 30px;

            @media screen and (max-width: 479px) {
              width: 100%;
              height: 100%;
            }
          }

          .member-info {
            .team-member-name {
              font-size: 16px;
              font-weight: 500;
              letter-spacing: 0.03em;
              text-align: center;
              margin-bottom: 10px;
            }

            .team-member-job-title {
              font-size: 16px;
              color: variables.$secondary-text-color;
              letter-spacing: 0.03em;
              text-align: center;
              margin-bottom: 16px;
            }

            .team-members-social-links {
              display: flex;
              gap: 10px;
              justify-content: center;
              align-items: center;

              .social-links-icons {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: variables.$icon-color;
                fill: currentColor;
                width: 44px;
                height: 44px;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

                &:hover {
                  color: #ffffff;
                }
              }

              a:hover,
              a:focus {
                background-color: variables.$accent-color;
                outline: none;
              }
            }
          }
        }
      }
    }
  }

  .regular-clients {
    padding: 94px 0;
    margin: 0;
    text-align: center;

    .container {
      .h2-index {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 50px;

        @media screen and (max-width: 768px) {
          font-size: 28px;
        }

        @media screen and (max-width: 479px) {
          font-size: 28px;
        }
      }

      .regular-client-list {
        display: flex;
        justify-content: center;
        gap: 30px;
        width: 100%;
        margin-top: 50px;

        .client {
          a {
            border-radius: 4px;
            border: 1px solid variables.$icon-color;
            display: inline-block;
            padding: 16px 32px; // Ensuring consistent padding
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover {
              border-color: variables.$accent-color;
            }

            .client-logo {
              width: 106px;
              height: 60px;
              fill: variables.$icon-color;
              transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

              &:hover {
                fill: variables.$accent-color;
              }
            }
          }
        }

        @media screen and (max-width: 768px) {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: 479px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }


      }
    }
  }
}